<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
<h1 class = "main">ようこそBookersへ!!</h1>
<p class = "sub1"><span class="bold-text">Bookers</span>では、様々な書籍に関するあなたの意見や</p>



<p class = "sub2">印象を共有し、交換することが出来ます。</p>

</head>
<%= link_to "start",books_path %>